{% extends "base_generic.html" %}
{% load widget_tweaks %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="float-left">Please log out first! </div>  
  {% else %}
    <form action="done" method="post">
    {% csrf_token %}
    <div class="box-around">
      <div class="form-group">
        <div class="float-left">
          {{ "Forgot password" }}{{ ":" }}
        </div>
        {% render_field form.email class="form-control" placeholder="Enter your email address..." %}
        {% for error in form.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    </div>
      <input type="submit" class="btn btn-primary" value="Password Reset">
    </form>
    {% endif %}
{% endblock %}
